.Throwbreak {
	height: 100vh;
	width: 100%;

	video {
		display: none;
	}

	&__wrapper {
		width: 100%;
		padding-top: calc(9/16 * 100%);
		position: relative;
	}

	&__canvas {
		left: 0;
		position: absolute;
		top: 0;
	}
}
