.Navigation {
	background: blue;
	bottom: 0;
	padding: 1em 0;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 1;

	&__list {
		display: flex;
	}

	&__item {
		flex: 0 0 50%;
	}

	&__link {
		color: white;
	}
}
